:root {
  --light-grey: #f5f6f7;
  --dark-blue: #0a0a23;
  --fcc-blue: #1b1b32;
  --light-yellow: #fecc4c;
  --dark-yellow: #feac32;
  --light-pink: #ffadad;
  --dark-red: #850000;
  --light-green: #acd157;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: var(--fcc-blue);
  color: var(--light-grey);
}

/* ーーここからコピペスタートーー */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(118, 185, 235, 0.6);
  color: var(--dark-blue);
  z-index: 1000;
  /* アニメーション用のCSS */
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease, visibility 0.2s;
}

.modal-overlay.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 90%;
}

#modal-header {
  margin-top: 0;
}

.modal-container label,
.modal-container input {
  display: block;
  margin-bottom: 10px;
}

.modal-container input[type="text"],
.modal-container input[type="number"] {
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-button-wrapper {
  text-align: right;
  margin-top: 20px;
}

.modal-button-wrapper button {
  border-radius: 4px;
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
}

/* 画面に表示されるエントリーのスタイル */
.entry-display-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.entry-display-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.entry-display-item button {
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
}

/* ーーここで終了ーー */

h1 {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 680px;
}

h1,
.container,
.output {
  margin: 20px auto;
}

label,
legend {
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--light-yellow);
  border: 2px solid var(--dark-yellow);
}

button,
input,
select {
  min-height: 24px;
  color: var(--dark-blue);
}

fieldset,
label,
button,
input,
select {
  margin-bottom: 10px;
}

.output {
  border: 2px solid var(--light-grey);
  padding: 10px;
  text-align: center;
}

.hide {
  display: none;
}

.output span {
  font-weight: bold;
  font-size: 1.2em;
}

.surplus {
  color: var(--light-pink);
}

.deficit {
  color: var(--light-green);
}
